<html>
    <head>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <title>Organ Game</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="meters">
                <div class="row meter">
                    <div class="col gasses">
                        <div class="row o2"> oxygen bar .o2</div>
                        <div class="row co2"> co2 bar .co2</div>
                    </div>
                    <div class="col heart"> heartbeat bar .heart</div>
                    </div>
                <div class="row spaceWaster">space waster for style purposes .spacewaster</div>
            </div>
            <div class="person">
                <div class="video-player">
                <video width="100%" height="100%" preload muted autoplay loop class="dude" src="../static/dude.mp4"></video>
                <div class="video-content">
                    <button class="endGame" onclick="death()">end</button>
                </div>    
            </div>
            </div>
            <div class="events">
                <div class="row score" id="score">10</div>
                <div class="row event">events</div>
                <div class="row points">score tracker</div>
            </div>
        </div>
        <div class="deathScreen">
            <p>you ded</p>
            <input type="text" id="name">
            <p>enter ya name</p>
            <button class="done" onclick="endGame(`${document.getElementById('name').value}`)">done</button>
        </div>
        <div class="highScore">
            <ul class="scoreList" id="scoreList">

            </ul>
        </div>
    </body>
    <script>
        var score = 0
        var jsonScores = '{}'
        var jsonObj = JSON.parse(jsonScores)
        $(".deathScreen").hide()
        $(".highScore").hide()
        function death(){
            $('.wrapper').hide()
            $(".deathScreen").show()
            
        }
        function endGame(name){
            $(".deathScreen").hide()
            $(".highScore").show()
            jsonObj.names = `${name}`
            console.log(jsonObj)
            var scoreList = document.getElementById("scoreList")
            scoreList.insertAdjacentHTML( 'beforeend',"<li>" + jsonObj.names + " </li>");
        }
    </script>
</html>